<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'mycss/mystyle.css' %}">
    <title>Django Template</title>
</head>
<body>
    <h1>Django Template Page</h1>
    {{ my_temp }}
    <h1>Picture of a nascar</h1>
    <img src="{% static 'images/hello_world/nascar.jpg' %}" alt="Image did not load">
</body>
</html>